<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="adminlog" action="adminlog" onsubmit="adminlogcheck()" method="post">
        <label id="unamel" for="uname0">USERNAME:</label>
        <input type="text" id="uname0" name="uname0">

        <label id="pswdl" for="pwsd0">PASSWORD:</label>
        <input type="text" id="pswd0" name="pswd0">

        <div style="position:absolute; left: 600px; top:350px;">
            <input type="submit" name="submit" value="LOGIN">
    </form>
</body>

</html>