<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="dgameadminlog" action="dgameadminlog" onsubmit="dgameadminlogcheck()" method="post">
        <label id="ge" for="ge">GAME TO DELETE:</label>
        <input type="text" id="ge" name="ge">
        <input type="submit" name="submit" value="DEL">
    </form>
</body>

</html>