<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="gameadminlog" action="gameadminlog" onsubmit="gameadminlogcheck()" method="post">
        <label id="ge" for="ge">GAME TO EDIT:</label>
        <input type="text" id="ge" name="ge">

        <label id="gn" for="gn">GAME NAME:</label>
        <input type="text" id="gn" name="gn">

        <label id="gc" for="gc">GAME NAME:</label>
        <input type="text" id="gc" name="gc">

        <input type="submit" name="submit" value="APPLY">
    </form>
</body>

</html>